@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

a{
    color: white;
    text-decoration: none;   
}
a:hover{
    color: black;
}
.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 100px;
    border-radius: 50%;
}
 
section{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 30px; 
    
}

.links{
    background-color: #ff9674;
    padding: 20px;
    transition: 0.2s ease-in;
    border: 2px solid #fdad92;

}
.links:hover{
    background-color: transparent;
    color: #fd845c;
    
}
.sub-head{
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);;
}
.heading{
    font-size: 20px;
    margin-top: 20px;
    color: #ff855d;
}
.links-section{
    margin-top: 50px;
}
.link-list{
    margin: 20px 0px;
    color: rgb(82, 128, 251);
}



@media screen and (max-width: 720px){
    section{
        width: 100%;
    }
}
.social-links{
    margin: 8%;
    margin-top: 100px;
}
.social-links a{
    font-size: 30px;
    color: var(--secondary--color)
    var(--parimary--color);
    margin-right: 20px;
}
.social-links p{
    margin-top: 30%;
    margin-bottom: 20px;
    font-size: 20px;
    margin-right: 20px;
}
    


.social-links a:hover{
    color: rgb(248, 139, 139);
    
}
.youtube-video{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.youtube-video iframe{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
}
.youtube-video p{
    margin-top: 50px;
    font-size: 25px;
}

